<div class="landing ">
  <picture class="image">
    <source media="(min-width:992px)" srcset="../../../assets/images/desktop/image-header.jpg">
    <img src="../../../assets/images/mobile/image-header.jpg" alt="image-header">

  </picture>
  <!-- <img src="../../../assets/images/desktop/image-header.jpg" alt="header" class="image"> -->
  <div class="container text-center ">
    <h1 class="fw-bold creatives">We are creatives</h1>
    <img src="../../../assets/images/icon-arrow-down.svg" alt="icon-arrow-down" class="arrow">
  </div>

</div>