<nav class="navbar navbar-expand-lg z-3">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../../../assets/images/logo.svg" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-menu" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link px-5 py-3 " aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item ms-lg-1">
          <a class="nav-link px-5 py-3 " href="#">Services</a>
        </li>
        <li class="nav-item ms-lg-1">
          <a class="nav-link px-5 py-3 " href="#">Projects</a>
        </li>
        <li class="nav-item ms-lg-1">
          <a class="nav-link px-5 py-3 active rounded-pill btn-contact" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>