<div class="galery d-flex flex-wrap">
  <picture class="col-lg-3 col-6">
    <source media="(min-width:768px )" srcset="../../../assets/images/desktop/image-gallery-milkbottles.jpg">
    <img src="../../../assets/images/mobile/image-gallery-milkbottles.jpg" alt="image-gallery-milkbottles">
  </picture>
  <picture class="col-lg-3 col-6">
    <source media="(min-width:768px )" srcset="../../../assets/images/desktop/image-gallery-orange.jpg">
    <img src="../../../assets/images/mobile/image-gallery-orange.jpg" alt="image-gallery-milkbottles">
  </picture>
  <picture class="col-lg-3 col-6">
    <source media="(min-width:768px )" srcset="../../../assets/images/desktop/image-gallery-cone.jpg">
    <img src="../../../assets/images/mobile/image-gallery-cone.jpg" alt="image-gallery-cone">
  </picture>
  <picture class="col-lg-3 col-6">
    <source media="(min-width:768px )" srcset="../../../assets/images/desktop/image-gallery-sugarcubes.jpg">
    <img src="../../../assets/images/mobile/image-gallery-sugar-cubes.jpg" alt="image-gallery-sugarcubes">
  </picture>
</div>